<section class="jumbo-intro">
  <div class="container">
    <div class="row align-items-center pb-5">
      <div class="col-sm-8 order-sm-2 order-md-1 col-md-5 col-lg-6 col-xl-5 ">
        <p class="ws-intro" data-aos="fade-in" data-aos-easing="apple-easing">Unser Netzwerk</p>
        <h2 class="headline-large late-riser" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".ws-intro">Wir ermöglichen shared mobility auf dem gesamten Globus</h2>
        {% comment %}<a href="{{ URL OF CASE STUDY }}" class="btn btn-outline-dark mt-3" data-aos="fade-in" data-aos-easing="apple-easing">Erfahre mehr</a> {% endcomment %}
      </div>
      <div class="col-sm-4 order-sm-1 order-md-2 col-md-6 offset-md-1 offset-lg-0 offset-xl-1 mt-5 mt-sm-0">
        <a class="gt-videoplay" href="https://vimeo.com/470131634" target="_blank" data-toggle="modal" data-target="#filmModal">
          <img class="w-100" src="/uploads/global/press-video-poster.jpg" srcset="/uploads/global/press-video-poster@2x.jpg 2x" alt="A landscape photo of a river with several bridges crossing it." />
          <a class="d-block text-center text-link mt-4 youtube-link" href="https://www.youtube.com/channel/UCqATrIqYLXpuB78MNVV4bBQ" target="_blank" title="Visit the Wunder Mobility Youtube channel"><ion-icon name="logo-youtube" size="large" style="margin: 0 8px -9px 0;"></ion-icon>Mehr Inhalte auf unserem YouTube-Kanal <img src="uploads/global/external-link.svg" style="filter: saturate(0) brightness(0.3);" class="externallink-icon link-svg"/></a>
          <div class="play-icon absolute-middle"></div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="podcast-highlight">
  <div class="container">
    <div class="row align-items-center pt-0 pb-5 py-md-5">
      <div class="col-md-6 order-md-2 offset-md-1 col-lg-5">
        <p class="wv-podcast" data-aos="fade-in" data-aos-easing="apple-easing">Der Wunder Mobility Podcast</p>
        <h2 class="headline-large " data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".wv-podcast">Werde aktiv</h2>
        <p data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="200" data-aos-anchor=".wv-podcast">Zusammenarbeit ist der Schlüssel zur Bewältigung aktueller und zukünftiger Mobilitätsherausforderungen. Wir glauben an den Austausch von Ideen, und wir wollen Gespräche zwischen den Mitgliedern unserer Branche fördern. Hört rein, wenn wir einige der interessantesten Themen und Gedanken zum Thema Mobilität aufdecken.</p>
        <a href="https://wundermobility.podigee.io/" target="_blank" class="btn btn-outline-dark mt-3" data-aos="fade-in" data-aos-easing="apple-easing">Jetzt reinhören</a>
      </div>
      <div class="col-md-5">
        <img class="mt-5 mb-md-0" data-src="uploads/global/podcast-square.jpg" data-srcset="uploads/global/podcast-square@2x.jpg 2x" alt="A middle-aged man in a blue shirt looks at the camera. It's Gunnar Froh." />
      </div>
    </div>
    <hr class="mt-5">
  </div>
</section>

<section id="press-downloads">
  <div class="container py-5">
    <div class="row py-md-5">

      <div class="col-md-6 col-lg-4">
        <p>Erfahre mehr über Wunder Mobility</p>
        <h2 class="headline-large mb-3 mb-md-0" data-aos="fade-in" data-aos-easing="apple-easing">Presse-mappe</h2>
      </div>

      <div class="col-md-6 col-lg-7 offset-lg-1 pressdownloads">

        <div class="row mt-4 mt-md-0" data-aos="fade-in" data-aos-delay="0" data-aos-easing="apple-easing" data-aos-anchor=".pressdownloads">
          <div class="col-md-2 d-none d-md-block">
            <img src="uploads/global/icons/icon-loudspeaker.svg" alt="line icon of a loudspeaker" />
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-8 col-md-12 col-lg-8">
                <h4 class="headline-small">Pressemitteilungen</h4>
                <p>Finde mehr über unsere neuesten Produkte und Veröffentlichungen heraus.</p>
              </div>
              <div class="col-sm-4 col-md-12 col-lg-4">
                <a href="https://drive.google.com/drive/folders/14VZItwYddd23Yeo4PkfxsWbjJVsb6Bs4" target="_blank" class="btn btn-outline-dark mt-3">Download <ion-icon name="arrow-down-outline"></ion-icon></a>
              </div>
            </div>            
          </div>
        </div>
        
        <div class="row pt-4 mt-3 mt-md-4" data-aos="fade-in" data-aos-delay="100" data-aos-easing="apple-easing" data-aos-anchor=".pressdownloads">
          <div class="col-md-2 d-none d-md-block">
            <img src="uploads/global/icons/icon-lined-paper.svg" alt="line icon of some lined paper" />
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-8 col-md-12 col-lg-8">
                <h4 class="headline-small">Unternehmens Factsheet</h4>
                <p>Unsere Fakten und Zahlen.</p>
              </div>
              <div class="col-sm-4 col-md-12 col-lg-4">
                <a href="https://drive.google.com/drive/folders/14WTfpUqDytn87moJNjgM4bOuebJt43CH" target="_blank" class="btn btn-outline-dark mt-3">Download <ion-icon name="arrow-down-outline"></ion-icon></a>
              </div>
            </div>            
          </div>
        </div>

        <div class="row pt-4 mt-3 mt-md-4" data-aos="fade-in" data-aos-delay="200" data-aos-easing="apple-easing" data-aos-anchor=".pressdownloads">
          <div class="col-md-2 d-none d-md-block">
            <img src="uploads/global/icons/icon-pencil-draws.svg" alt="line icon of a pencil drawing a curly line" />
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-8 col-md-12 col-lg-8">
                <h4 class="headline-small">Brand assets</h4>
                <p>Logos, Bilder & Grafiken.</p>
              </div>
              <div class="col-sm-4 col-md-12 col-lg-4">
                <a href="https://drive.google.com/drive/folders/14Yj2ZFa8Rhm7opmT_syTFPI9YpiohAMl" target="_blank" class="btn btn-outline-dark mt-3">Download <ion-icon name="arrow-down-outline"></ion-icon></a>
              </div>
            </div>            
          </div>
        </div>

      </div>

    </div>
    <hr class="mt-5">
  </div>
</section>



<section id="featured-news">
  <div class="container text-sm-center mb-5 py-5">
    <p>Was andere über uns sagen</p>
    <h2 class="headline-large mb-5">Featured News</h2>
    
    <div class="row text-left pt-4 align-items-stretch">
      {% for item in paginator.posts %}
      <div class="col-sm-6 col-lg-4 mb-5" data-pagination="clone">
        <div class="card w-shadow h-100 bg-grey border-0">
          <div class="presscard-header d-flex justify-content-between align-items-center px-4 py-3 bg-white">
            <img data-pagination="image" data-src="{{ item.image | remove: '@2x' }}" data-srcset="{{ item.image }} 2x" />
            <div data-pagination="date" class="article-date text-muted">{{ item.date | date: "%d.%m.%Y" }}</div>
          </div>
          <div class="presscard-body px-4 py-3">
            <a target="_blank" data-pagination="link" href="{{ item.link }}" title="View article '{{ item.title }}'">
              <h4 data-pagination="title" class="headline-small">{{ item.title }}</h4>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center">
      {% comment %} The pagination JSON comes from the page json/articles.md and is added to the DOM with component script paginationLoader.js {% endcomment %}
      <a href="api/articles-2.json" id="pagination-loadmore" class="btn btn-outline-dark mt-3" >Mehr</a>
    </div>

  </div>
</section>


<section id="client-testimonials" class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <svg class="quote-marks" viewBox="0 0 97 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#F2F2F2"/>
        </svg>
      </div>
      <div class="col-md-10 col-lg-9">
        <blockquote>
          <h3 class="headline-large">Transportunternehmen aus [der ganzen Welt] setzen die Wunder-Technologie ein.</h3>
          <img src='/uploads/global/techcrunch-logo.png' srcset='/uploads/global/techcrunch-logo@2x.png 2x' />
        </blockquote>
      </div>
    </div>
  </div>
</section>

<div class="container mb-5">
  <hr>
</div>

<section class="social-media py-5 grey-bridge flipped">
  <div class="container">
    <div class="text-center">
      <p>Social Media</p>
      <h2 class="headline-medium mb-4">Let's Connect</h2>
      <a target="_blank" href="{{ site.data.global.linkedin }}"><ion-icon size="large" class="linkedin-icon text-dark mr-3" name="logo-linkedin"></ion-icon></a>
      <a target="_blank" href="{{ site.data.global.youtube }}"><ion-icon size="large" class="youtube-icon text-dark mr-3" name="logo-youtube" ></ion-icon></a>
      <a target="_blank" href="{{ site.data.global.instagram }}"><ion-icon size="large" class="instagram-icon text-dark mr-3" name="logo-instagram" ></ion-icon></a>
      <a target="_blank" href="{{ site.data.global.twitter }}"><ion-icon size="large" class="twitter-icon text-dark mr-3" name="logo-twitter" ></ion-icon></a>
      <a target="_blank" href="{{ site.data.global.vimeo }}""><ion-icon size="large" class="vimeo-icon text-dark" name="logo-vimeo""></ion-icon></a>
    </div>
    <div class="row mt-5 pt-4">
      <div class="col-6 col-md-4">
        {% for item in page.social_feed %}
        <div class="social-card">
          <a href="{{ item.link }}" target="_blank">
            <img data-src="{{ item.image | replace: '@2x', '' }}" data-srcset="{{ item.image }} 2x" alt="" />
            <div class="social-card__overlay">
              <ion-icon class="text-white mr-3" name="logo-{{ item.platform }}"></ion-icon>
              <p class="d-none d-sm-block">{{ item.excerpt }}</p>
            </div>
          </a>
        </div>
        {% if forloop.index == 3 or forloop.index == 7 %}
      </div>
      <div class="{% if forloop.index >= 7 %}d-none d-md-block {% else %}col-6{% endif %} col-md-4">
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/470131634?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
