<section class="block block-text-vertical" id="podcast-intro">
  <div class="background-container"></div>
  <div
    class="
      container
      pt-lg-5
      px-lg-5
      d-flex
      justify-content-between
      flex-column
      h-100
    "
  >
    <div class="row mb-5 mt-auto mt-md-0">
      <div class="col-md-10 offset-md-1">
        <div class="text-left">
          <h1
            class="headline-large text-white mb-5"
            data-aos="fade-in"
            data-aos-easing="apple-easing"
          >
            The Wunder
            <br />
            Mobility Podcast
          </h1>
          <a
            href="https://open.spotify.com/show/5pgbmfQMrXBHw5LIaHt2TX?si=Ys6vOQdTTsODSMENRmcILg"
            class="btn btn-light"
            target="_blank"
            data-aos="fade-in"
            data-aos-easing="apple-easing"
            >Listen now</a
          >
        </div>
      </div>
    </div>
    <div class="row d-none d-md-block">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col">
            <iframe
              src="{{ page.hero_episode_embed_url }}"
              width="100%"
              height="232"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="podcast-about-section" class="my-5 py-5">
  <div class="container py-5">
    <div class="row mb-5 py-5">
      <div class="col-md-6 col-xl-4 offset-xl-1">
        <img
          data-src="/uploads/global/podcast/gunnar.png"
          data-srcset="/uploads/global/podcast/gunnar@2x.png 2x"
          data-aos="fade-in"
          data-aos-easing="apple-easing"
        />
      </div>
      <div
        class="
          col-md-6 col-xl-4
          offset-xl-1
          d-flex
          justify-content-center
          flex-column
        "
      >
        <p class="pt-3" data-aos="fade-in" data-aos-easing="apple-easing">
          The Wunder Mobility Podcast
        </p>
        <h2 class="headline-">
          Uncover the most interesting topics and minds within mobility
        </h2>
        <p>
          Join our host, Gunnar Froh, every two weeks as he chats with thought
          leaders from the mobility sector about their vision, products,
          successes, and setbacks.
        </p>
      </div>
    </div>
    <div class="row border-bottom"></div>
    <div class="row my-5 py-5" id="podcast-logos">
      <div class="col-md-4 offset-md-1">
        <h2 class="mb-5" data-aos="fade-in" data-aos-easing="apple-easing">
          Listen wherever you get your podcasts
        </h2>
        <a
          href="https://open.spotify.com/show/5pgbmfQMrXBHw5LIaHt2TX?si=Ys6vOQdTTsODSMENRmcILg"
          target="_blank"
          class="btn btn-dark mb-5 mb-md-0"
          data-aos="fade-in"
          data-aos-easing="apple-easing"
          >Follow Along</a
        >
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="row">
          <a
            href="https://open.spotify.com/show/5pgbmfQMrXBHw5LIaHt2TX?si=Ys6vOQdTTsODSMENRmcILg"
            target="_blank"
            class="col"
            ><img
              data-src="/uploads/global/podcast/logos/spotify-sq.png"
              data-srcset="/uploads/global/podcast/logos/spotify@2x.png 2x"
              alt="Spotify logo"
          /></a>
          <a
            href="https://podcasts.apple.com/de/podcast/wunder-mobility-podcast/id1529125144?l=en"
            target="_blank"
            class="col"
            ><img
              data-src="/uploads/global/podcast/logos/apple-podcast-sq.png"
              data-srcset="/uploads/global/podcast/logos/apple-podcast@2x.png 2x"
              alt="Apple podcast logo"
          /></a>
          <a
            href="https://music.amazon.de/podcasts/89522706-3fe2-4bdf-80e9-1206c5afeae5/Wunder-Mobility-Podcast"
            target="_blank"
            class="col"
            ><img
              data-src="/uploads/global/podcast/logos/amazon-music-sq.png"
              data-srcset="/uploads/global/podcast/logos/amazon-music@2x.png 2x"
              alt="Amazon Music logo"
          /></a>
        </div>
        <div class="row">
          <a
            href="https://podcasts.google.com/feed/aHR0cHM6Ly93dW5kZXJtb2JpbGl0eS5wb2RpZ2VlLmlvL2ZlZWQvYWFj?sa=X&ved=0CAMQ4aUDahcKEwjAypu6zYbtAhUAAAAAHQAAAAAQAg&hl=en-DE"
            target="_blank"
            class="col"
            ><img
              data-src="/uploads/global/podcast/logos/google-podcast-sq.png"
              data-srcset="/uploads/global/podcast/logos/google-podcast@2x.png 2x"
              alt="Google podcast logo"
          /></a>
          <a
            href="https://wundermobility.podigee.io/"
            target="_blank"
            class="col"
            ><img
              data-src="/uploads/global/podcast/logos/podigee-sq.png"
              data-srcset="/uploads/global/podcast/logos/podigee@2x.png 2x"
              alt="Podigee logo"
          /></a>
          <a
            href="https://deezer.page.link/Kdj7cUcmQuu65gxa8"
            target="_blank"
            class="col"
            ><img
              data-src="/uploads/global/podcast/logos/deezer-sq.png"
              data-srcset="/uploads/global/podcast/logos/deezer@2x.png 2x"
              alt="Deezer logo"
          /></a>
        </div>
      </div>
    </div>
    <div class="row border-bottom"></div>
    <div class="row mt-5 pt-5">
      <h2
        class="headline-large w-100 text-center mb-5"
        data-aos="fade-in"
        data-aos-easing="apple-easing"
      >
        Recent episodes
      </h2>
      {% for episode in page.featured_episodes %}
      <div class="col-md-4">
        <a
          class="featured-podcast-episodes d-block mx-auto mb-md-0 mb-5"
          href="{{ episode.url }}"
          target="_blank"
          data-aos="fade-in"
          data-aos-easing="apple-easing"
        >
          <img
            data-src="{{ episode.image }}"
            data-srcset="{{ episode.image }} 2x"
            alt="{{ episode.title }}"
            class="w-100 mb-3"
          />
          <span class="d-block podcast-episode-number"
            >Episode {{ episode.number }}</span
          >
          <h4 class="headline-small podcast-title">{{ episode.title }}</h4>
        </a>
      </div>
      {% endfor %}
      <a
        href="https://open.spotify.com/show/5pgbmfQMrXBHw5LIaHt2TX?si=Ys6vOQdTTsODSMENRmcILg"
        target="_blank"
        class="btn btn-outline-dark d-block mx-auto my-5"
        >Discover More Episodes</a
      >
    </div>
  </div>
</section>
<style>
  :root {
    --x: 0;
    --y: 0;
  }
  #podcast-intro .background-container {
    transition: all 3s ease-in;
  }
</style>
<script>
  document.querySelector("#podcast-intro").onmousemove = (e) => {
    requestAnimationFrame(() => {
      const x = (e.pageX - e.target.offsetLeft) / 20;
      const y = (e.pageY - e.target.offsetTop) / 20;
      e.target.style.setProperty("--x", `${x}px`);
      e.target.style.setProperty("--y", `${y}px`);
    });
  };
</script>
