<main class="with-form">

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="text-center px-lg-5" data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Meet Wunder City</p>
            <h2 class="headline-medium">Design cities that are smarter, <br class="d-none d-xl-block"/>greener, and safer.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="adaption">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-4 col-md-6 mb-4 mt-sm-0">
          <img data-src="uploads/global/city/city-adaption-bikes.jpg" data-srcset="uploads/global/city/city-adaption-bikes@2x.jpg 2x" alt="A row of yellow bikes parks on tall black railings outside an old building with pillars" />
        </div>
        <div class="col-sm-8 col-md-6 offset-lg-1 col-lg-5" data-aos="soft-up" data-aos-easing="apple-easing">
          <p>City adaptation</p>
          <h2 class="headline-medium">Urban mobility is changing</h2>
          <p>Urban mobility companies are expanding their services in cities at a rapid pace. Cities need to adapt to these changes in order to avoid chaos and problems before they arise.</p>
        </div>
        
      </div>
    </div>
  </section>

  <section class="fullwidth-bg dark-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Dashboard</p>
            <h2 class="headline-large">Oversee city operations</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Wunder City is the tool that can help cities evaluate, plan and regulate mobility companies by aggregating and understanding data.</p>
            <a class="btn btn-outline-light mt-4 mb-5 mb-md-0 gt-bodycta" href="#section-contact">Learn more</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="out-right mt-4 mt-md-0">
            <img data-src="uploads/global/city/mockup-city_trips.png" data-srcset="uploads/global/city/mockup-city_trips@2x.png 2x" alt="A white laptop displays a map of a city with an overlay of different colored zones under the title scooter trip count." />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="city-reporting" class="mt-5 mb-0 pb-0 pb-md-5">
    <div class="container">
      <div class="bg-grey">
        <div class="mini-section p-5 p-md-0">
          
          <div class="row align-items-center">
            <div class="col-md-5 offset-md-1">
              <div class="mini-section__text pr-md-5">
                <div data-aos="soft-up" data-aos-easing="apple-easing">
                  <h3 class="headline-large">Reporting made simple</h3>
                  <p>Wunder City is the tool that can help cities evaluate, plan and regulate mobility companies by aggregating and understanding data.</p>
                  <a class="btn btn-outline-dark mt-4 mb-5 mb-md-0 gt-bodycta" href="#section-contact">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-md-5 order-md-1">
              <div class="text-nowrap mb-5 mb-md-3" id="twochart-dash">
                <img class="rounded-xl w-x-shadow single-chart" src="/uploads/global/city/graph-vehicles.svg" width="365" />
                <img class="rounded-xl w-x-shadow single-chart ml-2 ml-lg-4" src="/uploads/global/city/graph-operators.svg" width="365" />
                {% comment %}
                <object id="rent-pie" class="rounded-xl w-x-shadow single-chart" type="image/svg+xml" width="365" data="uploads/global/animated/pie-chart_outlines.svg"></object>
                <object id="rent-bars" class="rounded-xl w-x-shadow single-chart ml-2 ml-lg-4" type="image/svg+xml" width="365" data="uploads/global/animated/bar-graph_outlined.svg"></object>
                {% endcomment %}
                <p class="small-label text-muted" style="opacity: .8"><small>* example reports</small></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="product-features">
    <div class="container">
      <div class="row align-items-center">
        <div class="text-center col-md-6 mb-4 mb-md-0">
          <img data-src="uploads/global/city/city-times.jpg" data-srcset="uploads/global/city/city-times@2x.jpg 2x" alt="A white laptop displays a time graph showing example scooter usage in a city." />
        </div>
        <div class="col-md-6 col-lg-5 offset-xl-1" data-aos="soft-up" data-aos-easing="apple-easing">
          <h3 class="headline-medium">Understand your data</h3>
          <p>Wunder City aggregates data from multiple mobility services into one place. Turn data into customized, visual, and easily-digestible reports to better understand your city’s ecosystem — no prior data knowledge or extra resources required. </p>
        </div>
      </div>

      <div class="row align-items-center mt-5 pt-4">
        <div class="text-center col-md-6 mb-4 mb-md-0">
          <img data-src="uploads/global/city/city-zones.jpg" data-srcset="uploads/global/city/city-zones@2x.jpg 2x" alt="A white laptop displays an app with a map showing different red zones." />
        </div>
        <div class="col-md-6 col-lg-5 offset-xl-1" data-aos="soft-up" data-aos-easing="apple-easing">
          <h3 class="headline-medium">Manage your city</h3>
          <p>View all mobility providers in your city at once and see how their services stack up. Analyze historical data to get an overview of the way the market is developing. Additionally, keep track of demand fluctuations and set parking zones around the city.</p>
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <hr>
  </div>

  <section class="white-bg my-5 pt-5">
    <div class="container text-center">
      <p>Product Benefits</p>
      <h2 class="headline-large">Smart cities need smart solutions</h2>
      <div class="row mt-5 pt-3 text-sm-left">
        <div class="col-sm-4 col-xl-3 offset-xl-1 mb-5 mb-sm-0" data-aos="soft-up" data-aos-easing="apple-easing">
          <img class="consistent-icon" src="uploads/global/icons/icon-lightbulb.svg" alt="Line icon of a lightbuld"/>
          <h3 class="headline-small">Understand changes</h3>
          <p>Gain a comprehensive overview of new and existing mobility services in your city.</p>
        </div>
        <div class="col-sm-4 col-xl-4 mb-5 mb-sm-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay=100>
          <div class="px-xl-5">
            <img class="consistent-icon"  src="uploads/global/icons/icon-handshake.svg" alt="Line icon of two hands doing a handshake"/>
            <h3 class="headline-small">Plan and Collaborate</h3>
            <p>Plan urban infrastructure based on data analysis, while collaborating with operators on a level playing field. </p>
          </div>
        </div>
        <div class="col-sm-4 col-xl-3" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay=200>
          <img class="consistent-icon"  src="uploads/global/icons/icon-plant-dark.svg" alt="Line icon of a little plant with 2 leaves"/>
          <h3 class="headline-small">Go Green</h3>
          <p >Turn your city green and improve the quality of life for your citizens by organizing mobility operations.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="city-client" class="pb-0">
    <div class="container-fluid px-0 px-md-5">
      <div class="bg-grey py-5">
        <div class="container p-sm-5 px-md-0">
          <div class="text-center">
            <p>Client Stories</p>
            <h3 class="headline-medium">Check out our partners <br>around the globe</h3>
          </div>
          <div class="row align-items-center mt-5 pt-3">
            <div class="col-sm-5 mb-4 mb-sm-0 col-md-4 offset-md-1">
              <img data-src="/uploads/global/city/hamburg-portrait.jpg" data-srcset="/uploads/global/city/hamburg-portrait@2x.jpg 2x" />
            </div>
            <div class="col-sm-7 col-md-5 offset-md-1 col-lg-5">
              <h4 class="headline-small mb-0">City of Hamburg</h4>
              <p class="mb-4"><a class="text-muted" href="https://www.hamburg.de/" title="Hamburg City website">www.hamburg.de</a><p>
              <p>The City of Hamburg had the goal of improving their infrastructure and paving the way towards a greener future. In order to do that, they needed to get a handle on new mobility modes in the city.</p>
              <p>That’s why Hamburg uses reports to create an urban planning framework. The reports visualize data that Hamburg can analyze to make smarter decisions on how to organize the city’s mobility services.</p>
              <a href="https://www.hamburg.de/pressearchiv-fhh/12793478/2019-08-21-bwvi-mobilitaetsdienste/" class="text-link d-block mt-4" title="View Wunder City & Hamburg city partnership press release">
                View press release 
                <svg class="right-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#141414"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="city-quote" class="mb-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <svg class="quote-marks" viewBox="0 0 97 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#F2F2F2"/>
          </svg>
        </div>
        <div class="col-md-10 col-xl-9">
          <blockquote>
            <h3 class="headline-large">The cooperation with Wunder Mobility [helps us] understand precisely what new mobility types demand of us as a city.</h3>
            <img data-src='/uploads/global/city/hamburg-city-logo.svg' alt="Hamburg city emblem with a red castle on a blue wavy line." />
          </blockquote>
        </div>
      </div>
    </div>
  </section>


</main>

<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/413480796?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
