<div class="" id="main-section"> 

  <img class="linkedin-badge" data-src="/uploads/global/linkedin-top-badge.png" data-srcset="/uploads/global/linkedin-top-badge@2x.png 2x" />
  
  <div class='my-4'></div>
  <section id="scroll-nav" class="sticky-top z-2001"> 
    <div class="container">
      <div class="scroll-nav__wrapper border-bottom ">
        <ul class="list-unstyled d-flex flex-row justify-content-between text-center text-md-left">
          <p class="d-none d-md-inline-block mr-4">Discover</p>
          <li class="mb-1"><a class="text-link" data-offset="80" href="#culture"><span class="d-none d-md-inline">Company</span> Culture</a></li>
          <li class="mb-1"><a class="text-link" data-offset="80" href="#life">Life<span class="d-none d-md-inline"> at Wunder Mobility</span></a></li>
          <li class="mb-1"><a class="text-link" data-offset="80" href="#jobs" id="jobs_scroll-link"><span class="d-none d-md-inline">Open </span>Positions</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="" id="culture">
    <div class="container py-5">
      <h2 class="headline-large my-5 text-center py-5">Company Culture</h2>
      <div class="quote-with-image pb-5">
        <div class="row align-items-top">
          <div class="col-lg-5 offset-xl-1 mb-5 mb-lg-0 pb-md-5 text-center">
            <div>
              <img data-src="/uploads/global/gunnar-sam.jpg" data-srcset="/uploads/global/gunnar-sam@2x.jpg 2x" />
              <p class="small-label text-left"><strong>Gunnar Froh & Samuel Baker</strong><br>Co-Founders</p>
            </div>
          </div>
          <div class="offset-2 col-9 col-sm-8 offset-lg-0 col-lg-7 col-xl-6">
            <blockquote class="with-photo align-bottom shift-left z-2000">
              <div class="quote">
                <svg class="quote-marks" viewBox="0 0 78 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#141414"/>
                </svg>
                <h2 class="">We’re convinced shared mobility will lead us down a path to a brighter future.</h2>
                <footer>
                  <p class="mb-4">Read more about our story, our mission and our vision.</p>
                  <a class="cursor-pointer font-weight-bold " title="Learn about Wunder Mobility's story" href="/our-story">Our story
                    <svg class="right-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#141414"/>
                    </svg>
                  </a>
                </footer>
              </div>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="row my-4 my-md-5">
        <div class="col-9 col-md-8 offset-2 offset-md-1 col-md-10">
          <hr>
        </div>
      </div>

      <div class="row pt-4 py-md-2">
        <div class="col offset-2 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
          <h2 class="headline-large mb-3 mb-md-0" data-aos="fade-in" data-aos-easing="apple-easing">Impact <br>Ownership <br>Speed <br>& Trust</h2>
        </div>
        <div class="offset-2 col-9 col-sm-8  col-md-5 offset-md-0 col-lg-4">
          <p class="mb-5 mb-md-0 pl-md-3 pl-lg-0" data-aos="fade-in" data-aos-delay="100" data-aos-easing="apple-easing">We strive to make an <b>impact</b> not just in the work we do, but in the work we’re helping others do. That means taking <b>ownership</b> of complex tasks and translating them into streamlined, intelligent solutions. If we feel the need for <b>speed</b>, it’s because our partners are already fast-forwarding to the future of mobility. We believe <b>trust</b> is the foundation of sharing - and that’s why we work hard to earn it from you.</p>
        </div>
      </div>

      <div class="row my-4 my-md-5">
        <div class="col-9 col-md-8 offset-2 offset-md-1 col-md-10">
          <hr>
        </div>
      </div>

    </div>
  </section>


  <section id="diversity">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-center">
          <h2 class="headline-large text-md-center" data-aos="soft-up" data-aos-easing="apple-easing">Diversity</h2>
          <p>We are committed to hiring top talent with a shared goal to push the boundaries around mobility. Hiring the best doesn’t stop at borders, and our dream team comes from 50+ different countries. Having such a diverse team allows us to be innovative and understanding of our international customers needs. </p>
        </div>
      </div>
      <img data-src="/uploads/global/virtual-team.jpg" data-srcset="/uploads/global/virtual-team@2x.jpg 2x" class="my-5" />
    </div>
  </section>

  <section id="life" class="bg-dark fullwidth-bg pb-0 text-white">
    <div class="container">
      <h2 class="headline-large text-center">Life at Wunder Mobility</h2>
      <div class="my-5 pt-4">
        <div id="perk-nav" class="mb-5">
          <hr>
          <div class="row align-items-start py-3 py-md-4">
            <div class="col-md-4 col-lg-3">
                <h4 class="headline-small mb-4">
                  <img class="d-inline-block mr-2" src="/uploads/global/icons/icon-openhand.svg" alt="White line icon of a hand open, facing up" />
                  Employee Perks
                </h4>
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="row">
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Company & Team Events</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Visa & Relocation</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Professional Growth</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Apple Equipment</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Gym or Transport</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Language Classes</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">30 Paid Vacation Days</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Dog Friendly</p>
                </div>
                <div class="col-sm-6 col-xl-4 mb-3">
                  <p class="">Healthy breakfast, lunch, snacks, and drinks</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>

        <section id="perk-events" class="py-5">
          <div class="row">
            <div class="col-sm-5 col-lg-6 offset-lg-1">
              <img src="/uploads/global/careers/summit-photo.png" srcset="/uploads/global/careers/summit-photo@2x.png 2x" alt="Group of smartly dressed men standing together at some kind of party event." />
            </div>
            <div class="col-sm-7 col-md-6 col-lg-5 col-xl-4">
              <div class="shift-left align-bottom">
                <img class="perks-content-icon" src="/uploads/global/icons/icon-glasses.svg" alt="White line icon of 2 glasses clinking or, cheers-ing!" />
                <h3 class="headline-medium">Company & Team Events</h3>
                <p>Whether we’re in the office or online, we always find ways to get together! We host weekly company-wide meetings, and regular team events such as: summer BBQ’s, virtual baking sessions, team escape rooms, and more!</p>
              </div>
            </div>
          </div>
        </section>

        <section id="perk-visa" class="py-5">
          <div class="row align-items-center">
            <div class="col-sm-6 col-md-5 offset-md-1 order-sm-2">
              <img src="/uploads/global/careers/relocation-image.png" srcset="/uploads/global/careers/relocation-image@2x.png 2x" alt="3 faces of global humans with a line connecting them to a map marker" />
            </div>
            <div class="col-sm-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2 order-md-1">
              <img class="perks-content-icon" src="/uploads/global/icons/icon-luggage.svg" alt="White line icon of a large piece of luggage with wheels" />
              <h3 class="headline-medium">Visa / Relocation</h3>
              <p>We hire top-talent from all around the globe and support our employees, and their families (spouse & children), with the VISA and relocation processes.</p>
            </div>
          </div>
        </section>

        <section id="perk-growth" class="py-5">
          <div class="row">
            <div class="col-sm-6 col-lg-7">
              <img src="/uploads/global/careers/coaching-image.png" srcset="/uploads/global/careers/coaching-image@2x.png 2x" alt="2 people sitting in a corner of a well-lit room, talking seriously to each other." />
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="shift-left align-bottom">
                <img class="perks-content-icon" src="/uploads/global/icons/icon-plant.svg" alt="White line icon of a growing plant with 2 leaves" />
                <h3 class="headline-medium">Professional Growth</h3>
                <p>As a mobility company, we don’t only focus on transportation as a means of mobility but also on the internal mobility of our people and their careers.</p>
              </div>
            </div>
          </div>
        </section>

        <section id="perk-gym" class="py-5">
          <div class="row align-items-center">
            <div class="col-sm-6 order-sm-2">
              <img src="/uploads/global/careers/gym-transport.png" srcset="/uploads/global/careers/gym-transport@2x.png 2x" alt="3 faces of global humans with a line connecting them to a map marker" />
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 offset-md-1 order-sm-1">
              <img class="perks-content-icon" src="/uploads/global/icons/icon-gym.svg" alt="White line icon of a bar weight seen from the side at an angle" />
              <h3 class="headline-medium">Gym or Transport</h3>
              <p>Choose between a public transportation pass or a Gym Membership with one of our partners (Urban Sports Club, Fitness First or Prime Time).</p>
            </div>
          </div>
        </section>

        <section id="perk-dog" class="pt-5 text-center" style="line-height: 0;">
          <div class="row mb-4">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <img class="perks-content-icon " src="/uploads/global/icons/icon-dog.svg" alt="White line icon of a cute dog seen from the side sitting down." />
              <h3 class="headline-medium">Dog Friendly</h3>
              <p>Our 4-legged friends are an integral part of our team! If you have a dog of your own, we’re happy to add them to our Wunder dog family!.</p>
            </div>
          </div>
          <img src="/uploads/global/careers/dog-face.png" srcset="/uploads/global/careers/dog-face@2x.png 2x" alt="3 faces of global humans with a line connecting them to a map marker" />            
        </section>

      </div>
    </div>
  </section>

  <section id="instagram-feed" class="py-5 text-center">
    <div class="container py-3 my-5">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 ">
          <p>Social Media</p>
          <h3 class="headline-large mb-3">Faces of Wunder</h3>
          <p>Each member of our team has a unique story and perspective to share. Get to know our team and their Life at Wunder on our Instagram page.</p>
          <div class="my-5">
            <a target="_blank" href="{{ site.data.global.linkedin }}"><ion-icon size="large" class="linkedin-icon text-dark mr-3" name="logo-linkedin"></ion-icon></a>
            <a target="_blank" href="{{ site.data.global.youtube }}"><ion-icon size="large" class="youtube-icon text-dark mr-3" name="logo-youtube" ></ion-icon></a>
            <a target="_blank" href="{{ site.data.global.instagram }}"><ion-icon size="large" class="instagram-icon text-dark mr-3" name="logo-instagram" ></ion-icon></a>
            <a target="_blank" href="{{ site.data.global.twitter }}"><ion-icon size="large" class="twitter-icon text-dark mr-3" name="logo-twitter" ></ion-icon></a>
            <a target="_blank" href="{{ site.data.global.vimeo }}""><ion-icon size="large" class="vimeo-icon text-dark" name="logo-vimeo""></ion-icon></a>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-6 col-sm-4 mb-3 mb-md-4">
          <img src="/uploads/global/careers/instagram/ig1.jpg" srcset="/uploads/global/careers/instagram/ig1@2x.jpg 2x" />
        </div>
        <div class="col-6 col-sm-4 mb-3 mb-md-4">
          <img src="/uploads/global/careers/instagram/ig2.jpg" srcset="/uploads/global/careers/instagram/ig2@2x.jpg 2x" />
        </div>
        <div class="col-6 col-sm-4 mb-3 mb-md-4">
          <img src="/uploads/global/careers/instagram/ig3.jpg" srcset="/uploads/global/careers/instagram/ig3@2x.jpg 2x" />
        </div>
        <div class="col-6 col-sm-4 mb-3 mb-md-4">
          <img src="/uploads/global/careers/instagram/ig4.jpg" srcset="/uploads/global/careers/instagram/ig4@2x.jpg 2x" />
        </div>
        <div class="col-6 col-sm-4 mb-3 mb-md-4">
          <img src="/uploads/global/careers/instagram/ig5.jpg" srcset="/uploads/global/careers/instagram/ig5@2x.jpg 2x" />
        </div>
        <div class="col-6 col-sm-4 mb-3 mb-md-4">
          <img src="/uploads/global/careers/instagram/ig6.jpg" srcset="/uploads/global/careers/instagram/ig6@2x.jpg 2x" />
        </div>
      </div>

      
      <a href="{{ site.data.global.instagram }}" class="btn btn-outline-dark mt-3">Visit our Instagram page</a>

    </div>
  </section>

  <section id="jobs" class="job-list bg-grey py-5">
    <div class="container py-5">
      <div class="row mb-5 pb-4">
        <div class="col-md-5 col-lg-4 offset-lg-1">
          <h2 class="headline-large">Open Positions</h2>
        </div>
        <div class="col-md-6 offset-md-1">
          <p>We’re on a mission to accelerate the global transition to sustainable transport by helping our clients launch and scale new mobility solutions. With clients from around the world, a diverse and global team of 150+ people in 3 different locations, a career at Wunder Mobility can really get you moving. </p>
        </div>
      </div>

      <div class="job-list__list pl-4">
        <div class="job-list__item mb-3 hidden card">
          <div class="card-body">
            <a href="#" class="job-link" target="_blank" title="View job on Wunder Mobility's Lever job board."><h4 class="job-title mb-3"></h4></a>
            <p class="job-location mb-1"></p>
            <p class="job-team my-0"></p>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>