<section class="jumbo-intro block block-text-vertical" id="podcast-intro">
  <div class="container px-lg-5">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="text-left px-lg-5 mx-xl-5">
          <h1 class="headline-large">
            The Wunder
            <br />
            Mobility Podcast
          </h1>
          <a href="" class="btn btn-light">Listen now</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span>Episode 1 | Ozgur Tohumcu, CEO, Oxbotica</span>
        <audio id="player" controls>
          <source src="" type="" />
        </audio>
      </div>
    </div>
  </div>
</section>
<section id="podcast-about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <img
          data-src="/uploads/global/podcast/gunnar_sam.png"
          data-srcset="/uploads/global/podcast/gunnar_sam@2x.png 2x"
        />
      </div>
      <div class="col-md-5">
        <h3>The Wunder Mobility Podcast</h3>
        <h2>Uncover the most interesting topics and minds within mobility</h2>
        <p>
          Join our hosts, Gunnar Froh and Samuel Baker, every two weeks as they
          chat with thought leaders from the mobility sector about their vision,
          products, successes, and setbacks.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
{% include block-contact-modal.html %}
