<header id="header" class="fixed-top px-4 navbar block ">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}{% unless page.lang == 'en' %}/{{ page.lang }}{% endunless %}">
      <img src="/uploads/global/wunder-logo-2020-white.svg" alt="{{ site.title }}" class="">
    </a>
    <a href="/#section-contact" class="nav-item nav-link body-text text-white">Contact Us</a>
  </div>
</header>

<nav id="scroller-nav" class="nav flex-column line-nav text-white">
  <a href="#hero" class="nav-link active"><span class="line-nav-label">Start</span></a>
  <a href="#digitalization" class="nav-link"><span class="line-nav-label">Digitalization</span></a>
  <a href="#marketing" class="nav-link"><span class="line-nav-label">Marketing</span></a>
  <a href="#sustainability" class="nav-link"><span class="line-nav-label">Sustainability</span></a>
  <a href="#get-started" class="nav-link"><span class="line-nav-label">Get Started</span></a>
  <a href="#case-study" class="nav-link"><span class="line-nav-label">Süwag Case Study</span></a>
  <a href="#contact" class="nav-link"><span class="line-nav-label">Contact Us</span></a>
</nav>

<section class="fullwidth-bg dark-bg mt-0" id="digitalization">
  <div class="container-fluid py-md-5">
    <div class="row pb-5 py-md-5">
      <div class="col-md-6 col-xl-5">
        <img src="/uploads/global/rent-mockup-dark.png" alt="">
      </div>
      <div class="col-md-6 col-xl-5 mt-sm-5">
          <h2 class="headline-medium mb-5 aos-init aos-animate" data-aos="soft-up" data-aos-easing="apple-easing">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </h2>
          <div class="table-wrapper">
            <table class="table text-white">
              <tbody>
                <tr data-aos="soft-up" data-aos-easing="apple-easing" class="aos-init aos-animate"> 
                  <td>Lorem</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                </tr>
                <tr data-aos="soft-up" data-aos-easing="apple-easing" class="aos-init aos-animate">
                  <td>Lorem</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                </tr>
                <tr data-aos="soft-up" data-aos-easing="apple-easing" class="aos-init aos-animate">
                  <td>Lorem</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="marketing" class="fullwidth-bg" style="background-color:linear-gradient(to bottom, #FFF 0%, #FFF 75%, #1F1F1F 75%, #1F1F1F 100%)">
  <div class="container">
    <div class="row pt-0 pb-5 py-md-5">
      <div class="col-md-5">
        <h2 class="headline-medium marketing-header" data-aos="fade-in" data-aos-easing="apple-easing">
          Lorem ipsum dolor sit amet
        </h2>
      </div>
      <div class="col-md-6 offset-md-1 order-md-2 col-lg-5">
        <p data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".marketing-header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tempore! Cupiditate odio quas sed temporibus accusantium, necessitatibus impedit at similique tenetur ex incidunt ipsum, ducimus maiores vero quo, error possimus.</p>
        <h3 data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".marketing-header" class="headline-small mt-3">What are you spending on?</h3>
        <p data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".marketing-header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tempore! Cupiditate odio quas sed temporibus accusantium, necessitatibus impedit at similique tenetur ex incidunt ipsum, ducimus maiores vero quo, error possimus.</p>
      </div>
    </div>
</section>

<section id="yadea-section" class="grey-bridge mb-0 pb-5 fullwidth-bg">
  <div class="container text-center">
    <div class="row pb-md-4">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="headline-large">Driven by excellence</h2>
        <p>We searched the globe to connect with the most reliable partners in the industry.
          All our vehicles have been test driven for durability, quality and rideability. We want our vehicles to be the industry’s best, and we’re not hitting the brakes until they are.
        </p>
      </div>
    </div>
    <div class="bgimage-section mt-5" id="bgimage-yadea">
      <div class="bgimage-section__text text-white">
        <h3 class="headline-large yadeatitle mb-3" data-aos="soft-up" data-aos-easing="apple-easing">The Sharing-Ready <span class="d-block">Yadea G5</span></h3>
        <p class="text-link mb-4" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".yadeatitle">Powered by Wunder Mobility</p>
        <a href="/vehicles/yadea-g5" class="btn btn-outline-light mt-3" data-aos="fade-in" data-aos-easing="apple-easing">Learn more</a>
    </div>
  </div>
</section>

<section id="vehicle-catalog" class="py-5">
  <div class="container">
    <h2 class="headline-large mb-5 text-center">Explore our full range of vehicles</h2>

    <div class="catalog-filters mb-5 pt-5">
      <div class="simple-radio-group d-flex justify-content-around justify-content-md-center flex-wrap">
        <p class="pr-md-5 mb-3 mb-md-0">Filter by:</p>
        <div class="break d-md-none"></div>
        <div class="radio-group">
          <input type="radio" name="options" id="option1" checked data-filter="*">
          <label class="text-link" for="option1">All</label>
        </div>
        <div class="radio-group">
          <input type="radio" name="options" id="option2" data-filter=".moped">
          <label class="text-link" for="option2">Mopeds</label>
        </div>
        <div class="radio-group">
          <input type="radio" name="options" id="option3" data-filter=".bike">
          <label class="text-link" for="option3">Bikes</label>
        </div>
        <div class="radio-group">
          <input type="radio" name="options" id="option4" data-filter=".kickscooter">
          <label class="text-link" for="option4">Kickscooters</label>
        </div>
      </div>

    </div>

    <div id="catalog-list">
      <div class="row">
      {% assign featuredVehicles = site.vehicles | sort: "brand" | where: "published", true | where: "featured", true %}
      {% assign nonFeaturedVehicles = site.vehicles | sort: "brand" | where: "published", true | where: "featured", false %}
      {% assign vehicles = featuredVehicles | concat: nonFeaturedVehicles %}
      {% for product in vehicles %}
        <div class="{% if product.featured %}featured{% endif %} catalog-item__wrapper {{ product.type | downcase }}">
          <a class="cursor-pointer" data-toggle="modal" data-target="#commerceModal" data-content="{{ product.url }}">
            <div class="catalog-item">
              {% capture imageURL %}{% if product.list-image.size > 1 %}{{ product.list-image | relative_url }}{% else %}{{ product.image_gallery | first | relative_url }}{% endif %}{% endcapture %}
              <div class="catalog-item__image" style="background-image: url('{{ imageURL }}')">
                <span class="hidden">Wunder Vehicles - {{ product.brand }} {{ product.name }}</span>
              </div>
              <p class="text-link mt-3">{{ product.brand }} {{ product.name }}</p>
            </div>
          </a>
        </div>
        {% comment %}
        {% assign modMobile = forloop.index | modulo: 2 %}
        {% if modMobile == 0 %}<div class="w-100 d-md-none"></div>{% endif %}
        {% assign modDesktop = forloop.index | modulo: 3 %}
        {% if modDesktop == 0 %}<div class="w-100 d-none d-md-block"></div>{% endif %}
        {% endcomment %}
      {% endfor %}
      </div>
    </div>

  </div>

</section>


<section id="client-testimonials" class="my-5">
  <div class="container">
    <div class="carousel-wrapper">
      <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-header py-2 d-flex justify-content-between">
          <p>What our clients are saying</p>
          <ol class="carousel-indicators flat-indicators position-static mx-0">
            <li data-target="#testimonialCarousel" data-slide-to="0" class="active bg-dark"></li>
            <li data-target="#testimonialCarousel" data-slide-to="1" class="bg-dark"></li>
          </ol>
        </div>
        <hr>
        <div class="carousel-inner mt-md-5 mt-3 pt-4">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-2">
                <svg class="quote-marks" viewBox="0 0 97 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#F2F2F2"/>
                </svg>
              </div>
              <div class="col-md-10 col-lg-9">
                <blockquote>
                  <h3 class="headline-large">Our close collaboration with Wunder Mobility is a major part of why our scooter sharing system was so successful.</h3>
                  <img src='/uploads/global/felyx-logo.png' srcset='/uploads/global/felyx-logo@2x.png 2x' />
                </blockquote>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-2">
                <svg class="quote-marks" viewBox="0 0 97 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#F2F2F2"/>
                </svg>
              </div>
              <div class="col-md-10 col-lg-9">
                <blockquote>
                  <h3 class="headline-large">Working with Wunder Mobility is fun. They help us build our dream.</h3>
                  <img src='/uploads/global/humanforest_logo.png' srcset='/uploads/global/humanforest_logo@2x.png 2x' />
                  <h3 class="headline-large">&nbsp;</h3>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/423405261?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade commercemodal" id="commerceModal" tabindex="-1" role="dialog" aria-labelledby="Wunder Vehicles product modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
          <div class="text-center my-5 spinning-wrapper">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="api-content"></div>
        </div>
    </div>
  </div>
</div>

<style>
  body {
    padding-top: 0px;
  }
</style>