<section class="client-logos">
  <div class="logo-boxes sq">
    <div class="single-box">
      <a href="https://www.whistle.ca/" target="_blank" title="Whistle! — The first ride-hailing service in BC, Canada.">
        <img data-src="/uploads/global/client-logos/whistle-sq.png" data-srcset="/uploads/global/client-logos/whistle-sq@2x.png 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.coastercycles.com/" target="_blank" title="Coaster Cycles — Inspiring communities and brands to move, connect, and deliver.">
        <img data-src="/uploads/global/client-logos/coaster-sq.svg" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.christinas.vn/search/transportation/" target="_blank" title="Müvv — Offering travellers a simpler way to get around Vietnam.">
        <img data-src="/uploads/global/client-logos/muvv-sq.svg" />
      </a>
    </div>
  </div>
</section>

<main>

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="text-center px-lg-5">
            <p>Meet Wunder Ride</p>
            <h2 class="headline-medium">Single or pooled rides, booked in advance or on-demand.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg dark-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-1">
          <div class="phonemockup-animation screens-3">
            <img class="phonemockup-animation_notch" data-src="uploads/global/mockups/notch-black.png" data-srcset="uploads/global/mockups/notch-black@2x.png 2x" alt="Black notch covering a part of the screen as in many new mobile phones" />
            <div class="phonemockup-animation_screen-mask">
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/ride_passenger_1.png" srcset="uploads/global/mockups/ride_passenger_1@2x.png 2x" alt="Wunder shuttle screen for search results showing a map with a list of potential vehicles" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/ride_passenger_2.png" srcset="uploads/global/mockups/ride_passenger_2@2x.png 2x" alt="Wunder shuttle screen showing matching drivers in the area on a map" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/ride_passenger_3.png" srcset="uploads/global/mockups/ride_passenger_3@2x.png 2x" alt="Wunder shuttle screen showing matched driver 'Sarah' and an eta pickup time" />
            </div>
            <img class="phonemockup-animation_base" src="uploads/global/mockups/mockupbase-black.png" srcset="uploads/global/mockups/mockupbase-black@2x.png 2x" alt="Mobile phone frame for a mockup" />
            <div class="progress-bar"></div>
          </div>
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Passenger App</p>
          <h2 class="headline-large">Ride, smile, repeat.</h2>
          <div class="row">
            <div class="col-xl-10">
              <p>Bookings made easy for all riders. Choose whether riders can book through an app, over the phone, or both. When riders book a trip they are automatically matched with a corresponding vehicle.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="phonemockup-animation screens-3">
            <img class="phonemockup-animation_notch" data-src="uploads/global/mockups/notch-white.png" data-srcset="uploads/global/mockups/notch-white@2x.png 2x" alt="Black notch covering a part of the screen as in many new mobile phones" />
            <div class="phonemockup-animation_screen-mask">
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/ride_driver_1.png" srcset="uploads/global/mockups/ride_driver_1@2x.png 2x" alt="Wunder shuttle screen for search results showing a map with a list of potential vehicles" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/ride_driver_2.png" srcset="uploads/global/mockups/ride_driver_2@2x.png 2x" alt="Wunder shuttle screen showing matching drivers in the area on a map" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/ride_driver_3.png" srcset="uploads/global/mockups/ride_driver_3@2x.png 2x" alt="Wunder shuttle screen showing matched driver 'Sarah' and an eta pickup time" />
            </div>
            <img class="phonemockup-animation_base" src="uploads/global/mockups/mockupbase-white.png" srcset="uploads/global/mockups/mockupbase-white@2x.png 2x" alt="Mobile phone frame for a mockup" />
            <div class="progress-bar"></div>
          </div>
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Driver App</p>
          <h2 class="headline-large">Make your drivers happy.</h2>
          <div class="row">
            <div class="col-xl-10">
              <p>The driver app includes integrated turn-by-turn navigation, has an improved interface that's easy to tap and read, and works on screens of all sizes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg blue-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-sm-left">
          <p>Operator Dashboard</p>
          <h2 class="headline-large late-riser">Become a smooth operator.</h2>
          <div class="row">
            <div class="col-xl-8">
              <p>Your service, your way. Take complete control over how your service functions including service zone, hours, stop locations and types, how users book, route flexibility, and more.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 py-5">
          <div class="out-right">
            <img class="web-mockup" data-src="uploads/global/mockups/mockup-shuttle_admin.png" data-srcset="uploads/global/mockups/mockup-shuttle_admin@2x.png 2x" alt="Wunder shuttle admin screen showing on a white laptop displaying a map and a list of drivers" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg white-bg my-0">
    <div class="container-fluid text-center">
      <p>Our Platform</p>
      <h2 class="headline-large">Built for flexibility</h2>
      <div class="row mt-3 pt-5">
        <div class="col-sm-6 col-md-4 offset-md-1">
          <img src="uploads/global/icons/icon-vehicletype.svg" alt="blue icon of a cool looking car"/>
          <h3 class="headline-small">Fit for your business</h3>
          <p class="text-muted">Microtransit, paratransit, NEMT, ridepooling: you name it. Wunder Ride is designed with multiple use cases in mind and can be customized for your mobility needs.</p>
        </div>
        <div class="col-sm-6 col-md-4 offset-md-2">
          <img src="uploads/global/icons/icon-pricing.svg" alt="blue icon of a hand holding a dollar sign symbolising getting some sweet sweet cash"/>
          <h3 class="headline-small">Optimize your operations</h3>
          <p class="text-muted">Utilize smart and customizable dispatching! Wunder Ride connects many fleets together and automatically dispatches trips to dedicated and non-dedicated drivers.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr>
  </div>

  <section class="fullwidth-bg bg-white tab-section logo-tabs mb-5">
    <div class="container-fluid text-center">
      <p>Client Stories</p>
      <h3 class="headline-medium">Check out our partners <br>around the globe</h3>
      <ul class="nav nav-pills justify-content-center my-5 py-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="pills-whistle-tab" data-toggle="pill" href="#pills-whistle" role="tab" aria-controls="pills-whistle" aria-selected="true">
            <img data-src="/uploads/global/client-logos/whistle-trans-sq.png" data-srcset="/uploads/global/client-logos/whistle-trans-sq@2x.png 2x" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="pills-muvv-tab" data-toggle="pill" href="#pills-muvv" role="tab" aria-controls="pills-muvv" aria-selected="false">
            <img data-src="/uploads/global/client-logos/muvv-sq.svg" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-coaster-tab" data-toggle="pill" href="#pills-coaster" role="tab" aria-controls="pills-coaster" aria-selected="false">
            <img data-src="/uploads/global/client-logos/coaster-sq.svg" />
          </a>
        </li>
      </ul>
      <div class="row text-left">
        <div class="col-md-10 offset-md-1">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-whistle" role="tabpanel" aria-labelledby="pills-whistle-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img src="/uploads/global/whistle-car.jpg" srcset="/uploads/global/whistle-car@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Whistle!</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.whistle.ca/" title="Whistle! — The first ride-hailing service in BC, Canada">www.whistle.ca</a><p>
                  <p>The first to be licensed to run ride-hailing service in British Columbia - Whistle! is a locally owned transportation service operating in Whistler and Tofino.</p>
                  <p>Whistle! founders have nearly two decades of experience in BC’s inter-city transportation industry and are excited to be part of the new ride hailing industry which the founders believe will be able to offer real transportation solutions to locals and visitors alike.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="pills-muvv" role="tabpanel" aria-labelledby="pills-muvv-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img data-src="/uploads/global/muvv-photo.jpg" data-srcset="/uploads/global/muvv-photo@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Müvv</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.christinas.vn/" title="Müvv — Offering travellers a simpler way to get around Vietnam">www.christinas.vn</a><p>
                  <p>Müvv is a transportation arm of Christina's Vietnam - a fully-integrated travel experience company providing local adventures for travellers from all over the world.</p>
                  <p>The Müvv team provides the travellers with a simpler way to get around Vietnam conveniently without hassle.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-coaster" role="tabpanel" aria-labelledby="pills-coaster-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img src="/uploads/global/coaster-bike.jpg" srcset="/uploads/global/coaster-bike@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Coaster Cycles</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.coastercycles.com/" title="Coaster Cycles — Inspiring communities and brands to move, connect, and deliver">www.coastercycles.com</a><p>
                  <p>Coaster inspires communities and brands to move, connect, and deliver with the world around them.</p>
                  <p>Coaster provides eco-friendly mobility solutions for the last mile including transportation, delivery, and branding services for a range of clients comprised of Fortune 500s, governments, universities, events, and retailers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr class="d-sm-none">
  </div>

</main>
