.hero-textbottom { 
  height: 600px;
  max-height: 800px;
  @include rwd(wide-up) {
    height: calc(100vh - 56px); // 57px = height of navbar
  }
  &__wrapper {
    padding-bottom: 110px;
    @include rwd(desktop-up) {
      padding-bottom: 130px;
    }
  }
  h1 {
    @include rwd(desktop-up) {
      flex-basis: 59%;
    }
  }
}

.carousel-inheader {
  .carousel, .carousel-col, .carousel-inner, .carousel-item {
    height: 300px;
    @include rwd(tablet-up) {
      height: 400px;
    }
    @include rwd(wide-up) {
      height: calc(100vh - 56px);
      min-height: 600px;
      max-height: 850px;
    }
  }
  .container-fluid {
    padding: 0 16px;
  }
  .carousel-inner img {
    object-fit: cover;
    display: block;
    min-height: 100%;
    width: 100%;
    @include rwd(wide-up) {
      max-width: none;
    }
  }
  .carousel-indicators {
    bottom: -30px;
    @include rwd(tablet-up) {
      filter: invert(1);
      margin-left: auto;
      width: 50%;
      bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .carousel-caption {
    @include rwd(tablet-up) {
      text-align: left;
      left: 10%;
    }
  }
}

.square {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  /* initial ratio of 1:1*/
  img {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &__inner-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.vertical-divider {
  height: 50px;
  width: 2px;
  margin: 0 30px;
  background: #fff;
}
#hero .logo-area {
  @include rwd(desktop-up) {
    flex-basis: 40%;
  }
}

#gallery {
  .gallery-scroller {
    overflow: scroll;
  }
  ul {
    width: fit-content;
  }
  li {
    min-width: 190px;
    img {
      object-fit: cover;
    }
  }
}

.case-studies svg.quote-marks {
  width: 44px;
  @include rwd(tablet-up) { 
    width: 72px;
  }
  @include rwd(desktop-up) {
    width: 97px;
  }
}