.clients {
  .container {
    @include rwd(mobile-down) {
      max-width: 100%;
    }
  }
  svg.quote-marks {
    width: 44px;
    @include rwd(tablet-up) { 
      width: 72px;
    }
    @include rwd(desktop-up) {
      width: 97px;
    }
  }
}

.hero-textbottom { 
  height: calc(100vh - 120px); // 57px = height of navbar + some for mobile browser bar
  min-height: 550px;
  max-height: 760px;
  //max-height: 800px;
  @include rwd(tablet-up) {
    height: calc(100vh - 56px); // 57px = height of navbar
    max-height: 850px;
  }
  &__wrapper {
    padding-bottom: 110px;
    @include rwd(desktop-up) {
      padding-bottom: 130px;
    }
  }
  h1 {
    @include rwd(desktop-up) {
      flex-basis: 59%;
    }
  }
}

.logo-area img:last-child {
  /* client logo */
  max-width: 98px;
  max-height: 38px;
}

.carousel-inheader {
  .carousel, .carousel-col, .carousel-inner, .carousel-item {
    height: 300px;
    @include rwd(tablet-up) {
      height: 400px;
    }
    @include rwd(wide-up) {
      height: 850px;
      /*
      height: calc(100vh - 56px);
      min-height: 600px;
      max-height: 850px;
      */
    }
  }
  .container-fluid {
    padding: 0 16px;
  }
  .carousel-inner img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    @include rwd(wide-up) {
      max-width: none;
    }
  }
  .carousel-indicators {
    bottom: -30px;
    @include rwd(tablet-up) {
      filter: invert(1);
      margin-left: auto;
      width: 50%;
      bottom: 20px;
      padding-bottom: 20px;
      &.flat-indicators li:not(.active) {
        opacity: .5;
      }
    }
  }
  .carousel-caption {
    @include rwd(tablet-up) {
      text-align: left;
      left: 10%;
    }
  }
  .text-wrapper {
    @include rwd(wide-up) {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.square {
  position: relative;
  overflow: hidden;
  height: 105px;
  display: flex;
  > img {
    height: 100%;
    width: 105px;
    max-width: 30%;
    object-fit: cover;
    transition: transform .6s;
  }
  &__overlay {
    display: flex;
    flex-flow: column;
    align-items: start;
    color: white;
    background: $mobility-black;
    padding: 0 17px;
    justify-content: center;
    width: 100%;
    img {
      max-height: 17px;
      max-width: 71px;
      @include rwd(mobile-up) {
        max-width: 128px;
        max-height: 35px;
      }
    }
  }
  @include rwd(mobile-up) {
    height: 0;
    padding-top: 100%;
    /* initial ratio of 1:1*/
    > img {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      max-width: none;
    }
    &__inner-text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__overlay {
      position: absolute;
      bottom: 0;
      height: 100%; 
      padding: 30px;
      background: rgba(31,31,31,0.0);
      justify-content: flex-end;
      transition: background 0.4s;
      p {
        opacity: 0;
        transition: opacity 0.4s;
      }
    }
  }
  a {
    line-height: 0;
  }
  &:hover {
    > img {
      transform: scale(1.03);
    }
    .square__overlay {
      background: rgba(31,31,31,0.9);
      p {
        opacity: 1;
      }
    }
  }
}

#client-testimonials {
  .carousel-indicators.flat-indicators li {
    @include rwd(tablet-down) {
      width: 30px;
    }
  }
}

.vertical-divider {
  height: 50px;
  width: 2px;
  margin: 0 30px;
  background: #fff;
}
#hero .logo-area {
  @include rwd(desktop-up) {
    flex-basis: 40%;
  }
}

#details {
  p a {
    color: $mobility-black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.video-wrapper {
  img {
    filter: brightness(0.8);
  }
}



#gallery {
  .gallery-scroller {
    overflow: scroll;
    max-width: 1680px; //add support for ultra HD monitors
    margin: auto;
  }
  ul {
    width: fit-content;
    min-width: 800px;
    margin: auto; //center the container
  }
}

