body.privacy-policy-\|-wunder-mobility,
body.applicant-privacy-policy-\|-wunder-mobility {
  ol, ul {
    margin-left: 2em;
    li {
      text-align: justify;
      margin-bottom: 0.5em;
    }
  }
  ul ul {
    margin-left: 2em;
    li {
      margin-bottom: 0;
    }
  }

  h5 {
    margin-bottom: 0.5em;
  }
  
  p {
    text-align: justify;
  }
}