#volta-header {
  .nav-item {
    svg {
      display: none;
    }
    @include rwd(tablet-down) {
      border: none;
      span {
        display: none;
      }
      svg {
        display: block
      }
    }
  }
}

#scroller-nav {
  @include rwd(tablet-down) {
    display: none;
  }
}

#volta_sustainability_video {
  width: 100%;
  @include rwd(tablet-up) {
    position: absolute;
    top: 17%;
    transform: translateX(-75%);
    width: 315%;
    object-fit: contain;
  }
}

.instruction-title {
  opacity: 60%;
}

.vehicle-type-button {
  padding: 1.4em 1.6em;
  width: 100%;
  border: 1px solid $white;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: 500ms all cubic-bezier(0.075, 0.82, 0.165, 1);
  .label-image {
    margin-right: 1.6em;
  }

  &:hover {
    cursor: pointer;
  }
}

.border-wrapper-dark {
  padding: 2rem;
  border: 1px white solid;
  border-radius: 4px;
  padding-bottom: calc(28px + 2rem);
  max-width: calc(100% - 2rem);
}

#volta-fleet-size-range {
  height: 12px;
  &:before {
    content: "1 Fahrzeug"
  }
  &:after {
    content: "5,000 Fahrzeuge"
  }
}

input[name="vehicle-type"]:checked ~ .vehicle-type-button, .vehicle-type-button:hover{
  background-color: $white;
  color: $mobility-black;
  .label-image {
    svg, * {
      fill: $mobility-black;
    }
    
  }
}