//reference: https://codepen.io/clarewhatever/pen/YqXNeB
.comparison-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
<<<<<<< HEAD
  padding-bottom: 67%; //controls the height of the figure
=======
  padding-bottom: 500px; //controls the height of the figure
>>>>>>> 205c11d99ff8d320f7f929a26991715d59757b8a

  figure {
    position: absolute;
    //set background image in the slider comparison file.
    background-size: cover;
<<<<<<< HEAD
    background-position: left bottom;
    font-size: 0;
    width: 100%;
    height: 100%;
=======
    font-size: 0;
    width: 100%;
    height: 500px;
>>>>>>> 205c11d99ff8d320f7f929a26991715d59757b8a
    margin: 0;
  }
  .divider {
    //photo on the right side of the slider. set in the file.

    background-size: cover;
<<<<<<< HEAD
    background-position: left bottom;
=======
>>>>>>> 205c11d99ff8d320f7f929a26991715d59757b8a
    position: absolute;
    width: 20%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    bottom: 0;
    height: 100%;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: -2px;
      width: 4px;
      height: calc(50% - 25px);
      background: white;
      z-index: 3;
    }
    &::before {
      top: 0;
<<<<<<< HEAD
    }
    &::after {
      bottom: 0;
=======
      box-shadow: 0 -3px 8px 1px rgba(0,0,0,.3);
    }
    &::after {
      bottom: 0;
      box-shadow: 0 3px 8px 1px rgba(0,0,0,.3);
>>>>>>> 205c11d99ff8d320f7f929a26991715d59757b8a
    }
  }
  .handle {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 20%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 6px inset transparent;
      position: absolute;
      top: 50%;
      margin-top: -6px;
    }
    &::before {
      border-right: 6px solid white;
      left: 50%;
      margin-left: -17px;
    }
    &::after {
      border-left: 6px solid white;
      right: 50%;
      margin-right: -17px;
    }
  }
  input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: absolute;
    top: 50%; left: -25px;
    transform: translateY(-50%);
    background-color: transparent;
    width: calc(100% + 50px); 
    z-index: 2;
    
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid white;
<<<<<<< HEAD
=======
    box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
>>>>>>> 205c11d99ff8d320f7f929a26991715d59757b8a
  }
  input[type=range]::-moz-range-track {
    -moz-appearance:none;
    height:15px;
    width: 100%;
    background-color: transparent; 
    position: relative;
    outline: none;    
  }
}

#comparison_slider_label {
  left: calc(20% + 3rem);
<<<<<<< HEAD
  top: calc(50% - 0.5rem);
=======
  top: calc(50% - 1rem);
>>>>>>> 205c11d99ff8d320f7f929a26991715d59757b8a
  color: #fff;
  filter: drop-shadow(black 2px 4px 6px);
  font-size: 2rem;
  z-index: 10;
<<<<<<< HEAD
=======
}

#volta-marketing {
  overflow: visible;
  //to allow the label to be visible outside of the bounds
>>>>>>> 205c11d99ff8d320f7f929a26991715d59757b8a
}