//reference: https://codepen.io/clarewhatever/pen/YqXNeB
.comparison-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 67%; //controls the height of the figure

  figure {
    position: absolute;
    //set background image in the slider comparison file.
    background-size: cover;
    background-position: left bottom;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .divider {
    //photo on the right side of the slider. set in the file.

    background-size: cover;
    background-position: left bottom;
    position: absolute;
    width: 20%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    bottom: 0;
    height: 100%;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: -2px;
      width: 4px;
      height: calc(50% - 25px);
      background: white;
      z-index: 3;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .handle {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 20%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 6px inset transparent;
      position: absolute;
      top: 50%;
      margin-top: -6px;
    }
    &::before {
      border-right: 6px solid white;
      left: 50%;
      margin-left: -17px;
    }
    &::after {
      border-left: 6px solid white;
      right: 50%;
      margin-right: -17px;
    }
  }
  input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: absolute;
    top: 50%; left: -25px;
    transform: translateY(-50%);
    background-color: transparent;
    width: calc(100% + 50px); 
    z-index: 2;
    
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid white;
  }
  input[type=range]::-moz-range-track {
    -moz-appearance:none;
    height:15px;
    width: 100%;
    background-color: transparent; 
    position: relative;
    outline: none;    
  }
}

#comparison_slider_label {
  left: calc(20% + 3rem);
  top: calc(50% - 0.9rem);
  color: #fff;
  filter: drop-shadow(black 2px 4px 6px);
  font-size: 2rem;
  z-index: 10;
  width: fit-content;
}