{% include head.html %}

{% include block-header-2.html include_cta="include" cta_text="Contact Us" cta_url="#section-contact" %}

<main>

  <section id="hero" class="hero-banner text-white hero-textbottom my-0">
    <div class="container">
      <div class="hero-textbottom__wrapper d-flex flex-column justify-content-end flex-lg-row align-items-lg-end h-100">
        <h1 class="headline-large mb-0">{{ page.intro }}</h1>
        <div class="logo-area d-flex align-items-center mt-4 mt-lg-0 justify-content-lg-end">
          <img src="/uploads/global/wundermobility-logo-stacked.svg" alt="Wunder Mobility white text logo" />
          <div class="vertical-divider">&nbsp;</div>
          <img src="{{ page.logo }}" alt="{{ page.name }} white logo" />
        </div>
      </div>
    </div>

    {% assign bg_image = page.hero_image %}
    {% assign bg_image_mob = page.hero_image %}
    {% if bg_image_mob ==  %}
      {% assign bg_image_mob = bg_image %}
    {% endif %}

    {% if bg_image %}
    <style>
    .hero-banner {
      background-image: url("{{ bg_image_mob | remove: '@2x' | relative_url }}");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .hero-banner {
        background-image: url('{{ bg_image_mob | relative_url }}');
      }
    }
    @media (min-width: 769px) {
      .hero-banner {
        background-image: url("{{ bg_image | remove: '@2x' | relative_url }}");
      }
    }
    @media (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .hero-banner {
        background-image: url('{{ bg_image | relative_url }}');
      }
    }
    </style>
    {% endif %}
  </section>
  
  <section id="details" class="">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="headline-medium">The Details</h2>
        </div>
        <div class="col-md-8 col-xl-7">
          <p>{{ page.the_details }}</p>
          <a href="{{ page.company_url }}" class="text-link d-block mt-4">
            Visit {{ page.name }}'s website
            <svg class="right-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#141414"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
 
  <section class="container">
    <hr/>
  </section>

  <section id="vision" class="">
    <div class="container text-center">
      <h4 class="headline-large px-xl-5">{{ page.shared_vision }} </h4>
    </div>
  </section>

  {% if page.show_stats %}
  <section id="stats" class="">
    <div class="container text-center">
      <div class="row">
        {% for stat in page.stats %}
        <div class="col-sm-3 col-lg-3  mb-5 mb-lg-0">
          <p>
            <strong class="headline-medium mb-2 d-block">{{ stat.number }}</strong>
            {{ stat.text }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}



</main>

{% include block-footer-1.html %}

{% include footer.html %}
