{% include head.html %}

{% if page.language == "EN" %}
  {% include block-header-2.html include_cta="include" cta_text="Contact Us" cta_url="#section-contact" %}
{% elsif page.language == "DE" %}
  {% include block-header-2.html menu="wunder-de" include_cta="include" cta_text="Kontaktieren Sie uns" cta_url="#section-contact" %}
{% endif %}
<main>

  <section id="hero" class="hero-banner text-white hero-textbottom my-0">
    <div class="container">
      <div class="hero-textbottom__wrapper d-flex flex-column justify-content-end flex-lg-row align-items-lg-end h-100">
        <h1 class="headline-large mb-0">{{ page.intro }}</h1>
        <div class="logo-area d-flex align-items-center mt-5 mt-lg-0 justify-content-lg-end">
          <img src="/uploads/global/wundermobility-logo-stacked.svg" alt="Wunder Mobility white text logo" />
          <div class="vertical-divider">&nbsp;</div>
          <img data-src="{{ page.logo_white | replace: '@2x', '' | replace: '-2x', '' }}" data-srcset="{{ page.logo_white }} 2x" alt="{{ page.title }} white logo" />
        </div>
      </div>
    </div>

    {% assign bg_image = page.hero_image %}
    {% assign bg_image_mob = page.hero_image %}
    {% if bg_image_mob == '' %}
      {% assign bg_image_mob = bg_image %}
    {% endif %}

    {% if bg_image %}
    <style>
    .hero-banner {
      background-image: url("{{ bg_image_mob | remove: '@2x' | relative_url }}");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .hero-banner {
        background-image: url('{{ bg_image_mob | relative_url }}');
      }
    }
    @media (min-width: 769px) {
      .hero-banner {
        background-image: url("{{ bg_image | remove: '@2x' | relative_url }}");
      }
    }
    @media (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .hero-banner {
        background-image: url('{{ bg_image | relative_url }}');
      }
    }
    </style>
    {% endif %}
  </section>
  
  <section id="details" class="">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="headline-medium">
            {% if page.language == "EN"%}
              The details
            {% elsif page.language == "DE" %}
              Die Details
            {% endif %}
          </h2>
        </div>
        <div class="col-md-8 col-xl-7">
          <p>{{ page.the_details }}</p>
          <a href="{{ page.company_url }}" target="_blank" class="text-link d-block mt-4">
            {% if page.language == "EN" %}
            Visit {{ page.title }}'s website
            {% elsif page.language == "DE" %}
            Erfahren Sie mehr über {{ page.title }}
            {% endif %}
            <svg class="right-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#141414"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
 
  <div class="container">
    <hr/>
  </div>

  <section id="vision" class="">
    <div class="container text-center">
      <h4 class="headline-large px-xl-5">{{ page.description }} </h4>
    </div>
  </section>

  {% if page.show_stats %}
  <section id="stats" class="">
    <div class="container text-center">
      <div class="row justify-content-center">
        {% for stat in page.stats %}
        <div class="col-sm-3 {% unless forloop.last %} mb-4 pb-3 {% endunless %} mb-sm-0">
          <p>
            <strong class="headline-medium headline-stat mb-2 d-block">{{ stat.number }}</strong>
            {{ stat.text }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if page.show_cta == false %}
  
  <section id="video" class="mb-4">
    <div class="video-wrapper d-flex justify-content-center align-items-center">
      <img data-src="{{ page.video_poster | replace: '@2x', '' | replace: '-2x', '' }}" data-srcset="{{ page.video_poster }} 2x" alt="Frame from a video case study of {{ page.title }}" />
      <a class="text-link white-text with-play position-absolute" href="#" data-toggle="modal" data-target="#filmModal">
        {% if page.language == "EN" %}
        Watch the video
        {% elsif page.language == "DE" %}
        Film Anschauen
        {% endif %}
      </a>
    </div>
  </section>
  
  {% else %}

  <section id="product-cta" class="fullwidth-bg grey-bg pt-5 pb-4 py-sm-0 mb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-5 text-center text-sm-left pt-5 py-sm-5 my-sm-5">
          <h2 class="headline-large">{{ page.case_study_cta.heading }}</h2>
          <a class="btn btn-outline-dark mt-4" data-toggle="modal" data-target="#downloadModal" href="{{ page.case_study_cta.external_url | downcase }}" title="View the case study on {{ page.title }} working with Wunder Mobility.">{{ page.case_study_cta.cta_text | default: "Learn more" }}</a>
          {% include block-case-study-modal.html %}
        </div>
        <div class="col-sm-7">
          <img class="w-100" data-src="{{ page.case_study_cta.supporting_image | replace: '@2x', '' | replace: '-2x', '' }}" data-srcset="{{ page.case_study_cta.supporting_image }} 2x" alt="Preview of the case study on {{ page.title }}." />
        </div>
      </div>
    </div>
  </section>

  {% endif %}

  <section id="gallery" class="mt-4 mb-0">
    <div class="gallery-scroller">
      <ul class="px-4 pb-4 d-flex list-unstyled">
        {% for image in page.image_gallery %}
        <li class="{% unless forloop.last %}mr-3{% endunless %} d-flex align-items-center">
          <img data-src="{{ image | replace: '@2x', '' | replace: '-2x', ''  }}" data-srcset="{{ image }} 2x" />
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="quote" class="my-0 bg-dark fullwidth-bg">
    <div class="container py-3 py-md-5">
      <div class="row text-white">
        <div class="col-md-2">
          <svg class="quote-marks" viewBox="0 0 97 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#7A7A7A"/>
          </svg>
        </div>
        <div class="col-md-10">
          <blockquote>
            <h3 class="headline-large late-riser">{{ page.quote.text }}</h3>
            <footer>
              <p class="mb-2 mt-4 mt-md-5"><strong>{{ page.quote.name }}</strong></p>
              <p class="mt-0">{{ page.quote.job_title }}</p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  
  {% assign product = page.product %}
  {% assign language = page.language %}
  {% capture productText %}
    {% if product == 'Fleet' and language == "EN" %}Wunder Fleet is an all-in-one platform to help get your vehicle sharing company off the ground. Equipped with a mobile app, backend management system, and sharing-ready vehicles, Wunder Fleet can get you on the streets in no time.{% endif %}
    {% if product == 'Carpool' and language == "EN" %}Wunder Carpool enables employees to organize shared rides to work. Free up space in your parking, fight climate change and improve the daily commute with carpooling.{% endif %}
    {% if product == 'Fleet' and language == "DE" %}Wunder Fleet ist eine All-in-one-Plattform, die Ihr Fahrzeug-Sharing Unternehmen auf den Weg bringt. Ausgerüstet mit einer Mobile-App, einem Backend-Management-System, und sharing-ready Fahrzeugen, Wunder Fleet kann Sie im Handumdrehen auf die Straße bringen.{% endif %}
    {% if product == 'Carpool' and language == "DE" %}Wunder Carpool enables employees to organize shared rides to work. Free up space in your parking, fight climate change and improve the daily commute with carpooling.{% endif %}
    {% endcapture %}
  {% capture productImage %}
    {% if product == 'Fleet' %}/uploads/global/fleet/fleet-app.gif{% endif %}
    {% if product == 'Carpool' %}/uploads/global/carpool-brandedscreens@2x.png{% endif %}
    {% endcapture %}
  <section id="product-cta" class="my-5 py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-7 col-lg-6">
          {% if page.language == "EN" %}
            <h2 class="headline-large">Get started with Wunder {{product}}</h2>
          {% elsif page.language == "DE" %}
            <h2 class="headline-large">Starten Sie mit {{product}}</h2>
          {% endif %}  
          <p>{{ productText | strip }}</p>
            {% if page.language == "EN" %}
            <a class="btn btn-outline-dark mt-4" href="/{{ product | downcase }}" title="Visit the Wunder {{ product }} product page">
              Learn more 
            {% elsif page.language == "DE" %} 
            <a class="btn btn-outline-dark mt-4" href="/de/{{ product | downcase }}" title="Visit the Wunder {{ product }} product page">
              Mehr erfahren
            {% endif %}
          </a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-6 mt-5 mt-sm-0 text-center">
          <img class="app-img w-100" data-src="{{ productImage | strip | replace: '@2x', '' | replace: '-2x', '' }}" data-srcset="{{ productImage | strip }} 2x" alt="Mockup of the Wunder {{ product }} app on a smartphone." />
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr/>
  </div>

  <section id="discover-more">
    <div class="container text-center">
      {% if page.language == "EN" %}
        <h2 class="headline-large">Discover more client <br class="d-none d-md-block" />success stories</h2>
        <a class="btn btn-outline-dark mt-4" href="/clients" title="Visit the Wunder Mobility clients page">Discover more</a>
      {% elsif page.language == "DE" %}
        <h2 class="headline-large">Entdecken Sie weitere <br class="d-none d-md-block" />Kundengeschichten</h2>
        <a class="btn btn-outline-dark mt-4" href="/de/clients" title="Visit the Wunder Mobility clients page">Mehr entdecken</a>
      {% endif %}
      </div>
  </section>


</main>


{% if page.show_cta == false %}
<!-- Modal -->
<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Fleet film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/{{ page.vimeo_id }}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
{% endif %}

{% if page.language == "EN" %}
  {% include block-contact-form.html %}
{% elsif page.language == "DE" %}
  {% include de/block-contact-form.html %}
{% endif %}

{% include block-footer-1.html %}

{% include footer.html %}
