---
layout: marketplace-app
category: Operations Improvement
title: Jumio
icon: "/uploads/2020/09/11/screenshot-2020-09-11-at-12-35-22-claire-galbois-alcaix.png"
excerpt: End-to-End ID and Identity Verification Solutions.
featured: false
preview_gallery:
- image-video: "/uploads/2020/09/11/full_hd-2-claire-galbois-alcaix.mp4"
  title: Video
- image-video: "/uploads/2020/09/11/screenshot-2020-09-11-at-12-40-17-claire-galbois-alcaix.png"
  title: ID Verification
description: "<p>Identity Verification for the Mobility Services Industry Deter fraud
  and provide a seamless user experience for customers on the go.</p><p>Jumio’s suite
  of identity and authentication solutions is specifically designed for mobility organizations.</p>"
screenshot_details:
- screenshot: "/uploads/2020/08/26/id-verification-claire-galbois-alcaix.jpg"
  title: ID Verification
  screenshot_description: Establish the genuine identity of your users before letting
    them take the wheel. Jumio’s ID Verification solution verifies government-issued
    IDs in real-time, employing advanced technologies and informed AI to detect digital
    manipulations.
- screenshot: "/uploads/2020/08/26/fraud-deterrence-claire-galbois-alcaix.jpg"
  title: Fraud Deterrence
  screenshot_description: Cars, e-bikes and scooters are high-value assets that must
    be protected against theft. By requiring a valid government-issued ID and a selfie,
    Jumio provides a valuable fraud prevention tool, as fraudsters generally prefer
    not to use their own likeness when trying to scam the system.
- screenshot: "/uploads/2020/08/26/liveness-detection-claire-galbois-alcaix.jpg"
  title: Liveness Detection
  screenshot_description: Given the rise of spoofing (the act of using a photo, video
    or a different substitute for an authorized person’s face), Jumio employs state-of-the-art
    3D liveness detection and informed AI to ensure that a new customer or driver
    creating an online account is physically present and not a spoof or deepfake.
- screenshot: "/uploads/2020/08/26/ongoing-authentication-claire-galbois-alcaix.jpg"
  title: Ongoing Authentication
  screenshot_description: After your customers have verified themselves online, Jumio
    Authentication ensures all future logins and transactions are being made by the
    original account owner. Ride-sharing services can consistently re-verify drivers’
    identities, while rental agencies can quickly and reliably authenticate known
    customers to unlock their vehicles with a quick selfie.
app_details:
- detail_title: Developer Website
  detail_content: '<a href="https://www.jumio.com/" title="https://www.jumio.com/"><span
    style="text-decoration: underline;">https://www.jumio.com/</span></a>'
- detail_title: Support Contact
  detail_content: <a href="https://support.jumio.com/hc/en-us/requests/new" title="">Request
    Support</a>
- detail_title: Whitepaper Download
  detail_content: <a href="/uploads/2020/08/26/jumio-mobility-datasheet-us-final-claire-galbois-alcaix.pdf"
    title="">Jumio Whitepaper</a>
- detail_title: Privacy Policy
  detail_content: '<a href="https://www.jumio.com/legal-information/privacy-policy/"
    title="https://www.jumio.com/legal-information/privacy-policy/"><span style="text-decoration:
    underline;">https://www.jumio.com/legal-information/privacy-policy/</span></a>'
- detail_title: Terms of Services
  detail_content: '<a href="https://www.jumio.com/about/" title="https://www.jumio.com/about/"><span
    style="text-decoration: underline;">https://www.jumio.com/about/</span></a>'
access_needed:
- User Data
- SDK in App needed
getting_started: []

---
