---
layout: marketplace-app
category: Operations Improvement
title: Jumio Identity Verification
icon: "/uploads/2020/08/26/jumio-logo-color-reversed-01-3-claire-galbois-alcaix-2.jpg"
excerpt: Identity Verification for the Mobility Services Industry
preview_gallery:
- image-video: "/uploads/2020/08/26/screenshot-2020-08-25-at-18-10-15-claire-galbois-alcaix.png"
  title: Jumio 2
- image-video: "/uploads/2020/08/26/screenshot-2020-08-25-at-18-19-49-claire-galbois-alcaix.png"
  title: Jumio Answer
- image-video: "/uploads/2020/08/26/screenshot-2020-08-25-at-18-15-50-claire-galbois-alcaix.png"
  title: Jumio Verification
- image-video: "/uploads/2020/08/26/screenshot-2020-08-25-at-18-11-19-claire-galbois-alcaix.png"
  title: Jumio License
- image-video: "/uploads/2020/08/26/screenshot-2020-08-25-at-18-09-23-claire-galbois-alcaix.png"
  title: Jumio
- image-video: "/uploads/2020/08/26/full_hd-1-claire-galbois-alcaix.mp4"
  title: Product Video
description: ''
screenshot_details: []
app_details: []
access_needed: []
getting_started: []
published: false

---
