---
layout: marketplace-app
category: Operations Improvement
title: Jumio
icon: "/uploads/2020/09/11/screenshot-2020-09-11-at-12-35-22-claire-galbois-alcaix.png"
excerpt: End-to-End ID and Identity Verification Solutions.
featured: false
preview_gallery:
- image-video: "/uploads/2020/09/11/full_hd-2-claire-galbois-alcaix.mp4"
  title: Video
- image-video: "/uploads/2020/09/11/screenshot-2020-09-11-at-12-40-17-claire-galbois-alcaix.png"
  title: ID Verification
description: "<p>Identity Verification for the Mobility Services Industry Deter fraud
  and provide a seamless user experience for customers on the go.</p><p>Jumio’s suite
  of identity and authentication solutions is specifically designed for mobility organizations.</p>"
screenshot_details:
- screenshot: "/uploads/2020/09/11/id-verification-claire-galbois-alcaix.png"
  title: ID Verification
  screenshot_description: Establish the genuine identity of your users before letting
    them take the wheel. Jumio ID Verification verifies government-issued IDs in real
    time, employing advanced technologies to detect digital manipulations of genuine
    ID images, content (name, address, date of birth, etc.) and face photo replacements.
- screenshot: "/uploads/2020/09/11/fraud-deterrence-claire-galbois-alcaix.png"
  title: Fraud Deterrence
  screenshot_description: Cars, e-bikes and scooters are high-value assets that must
    be protected against theft. Jumio’s identity verification and authentication solutions
    can help mobility-based businesses protect their fleets by ensuring that the person
    creating an account or leasing a vehicle is who they claim to be. By requiring
    a valid government-issued ID and a selfie, Jumio provides a valuable fraud-prevention
    tool, as fraudsters generally prefer not to use their own likeness when trying
    to scam the system.
- screenshot: "/uploads/2020/09/11/liveness-detection-claire-galbois-alcaix.png"
  title: Liveness Detection
  screenshot_description: 'Given the rise of spoofing (the act of using a photo, video
    or a different substitute for an authorized person’s face), Jumio employs state-of-the-art
    liveness detection to ensure that the person creating the account or making an
    online purchase is physically present. Jumio leverages FaceTec for its advanced
    liveness detection and anti-spoofing capabilities — the only biometrics solution
    provider to pass Level-1 and Level-2 anti-spoofing results in NIST/NVLAP-certified
    iBeta Presentation Attack Detection (PAD) testing. When a new customer or driver
    creates an online account, Jumio captures an image of a government-issued ID and
    a 3D face map, which is instantly analyzed via AI to determine that the user is
    a living human and not a spoof. '
app_details:
- detail_title: Developer Website
  detail_content: '<a href="https://www.jumio.com/" title="https://www.jumio.com/"><span
    style="text-decoration: underline;">https://www.jumio.com/</span></a>'
- detail_title: Whitepaper Download
  detail_content: <a href="/uploads/2020/08/26/jumio-mobility-datasheet-us-final-claire-galbois-alcaix.pdf"
    title="">Jumio Whitepaper</a>
- detail_title: Privacy Policy
  detail_content: '<a href="https://www.jumio.com/legal-information/privacy-policy/"
    title="https://www.jumio.com/legal-information/privacy-policy/"><span style="text-decoration:
    underline;">https://www.jumio.com/legal-information/privacy-policy/</span></a>'
- detail_title: Terms of Services
  detail_content: '<a href="https://www.jumio.com/about/" title="https://www.jumio.com/about/"><span
    style="text-decoration: underline;">https://www.jumio.com/about/</span></a>'
access_needed:
- User Data
getting_started:
- column_description: ''
  column_title: ''

---
